* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-image: url(./src/back.jpg);
    background-size: cover;
}

.slova {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slovo {
    border: 2px solid #ffc600;
    border-radius: 15px;
    margin: 1rem;
    font-size: 10px;
    padding: 1rem .5rem;
    transition: all .07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(2);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd {
    display: block;
    font-size: 30px;
}

.zvuk {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}

@media screen and (max-width: 600px) {
    .slova {
        flex-direction: column;
    }
}